@import '_setting';

.column-item{
    background-color: $color-white;
    margin: $gap/2 $gap/2 $gap/2 0;
    &:first-child{
       margin-top: 0;
    }
    padding: $gap;
    border-radius: $gap/2;
}